<!-- photo-gallery.component.html 
<div class="container mt-4">
    <div class="row">
      <div class="col-md-4 pd">
        <img src="	https://www.syncro-system.fr/imagesWLF/index/3Tail/ThreeTail1.webp" alt="Photo 1" class="img-fluid">
      </div>
      <div class="col-md-4 pd">
        <img src="https://www.syncro-system.fr/imagesWLF/index/3Tail/ThreeTail2.webp" alt="Photo 2" class="img-fluid">
      </div>
      <div class="col-md-4 pd">
        <img src="https://www.syncro-system.fr/imagesWLF/index/3Tail/ThreeTail3.webp" alt="Photo 3" class="img-fluid">
      </div>
    </div>
  </div>

<div class="container mt-3">
    <h2>Photo with Text</h2>
    <div class="col">
      <div class="col-md-3">
        <div class="image-container">
          <img src="https://www.syncro-system.fr/imagesWLF/index/3Tail/ThreeTail3.webp" alt="Photo" class="img-fluid">
          <div class="text-overlay">
            <p>Text Overlay</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="col-md-3">
          <div class="image-container">
            <img src="https://www.syncro-system.fr/imagesWLF/index/3Tail/ThreeTail3.webp" alt="Photo" class="img-fluid">
            <div class="text-overlay">
              <p>Text Overlay</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col-md-3">
          <div class="image-container">
            <img src="https://www.syncro-system.fr/imagesWLF/index/3Tail/ThreeTail3.webp" alt="Photo" class="img-fluid">
            <div class="text-overlay">
              <p>Text Overlay</p>
            </div>
          </div>
        </div>
      </div>
  </div>-->
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="padding: 5px;">
        <div class="image-container">
            <img src="https://www.syncro-system.fr/imagesWLF/index/3Tail/ThreeTail1.webp" alt="Photo" class="img-fluid">
            <div class="text-overlay">
              <p class="style">ENTREPRISE FONDEE EN 1960</p>
            </div>
          </div>
      </div>
      <div class="col-md-4" style="padding: 5px;">
        <div class="image-container">
            <img src="https://www.syncro-system.fr/imagesWLF/index/3Tail/ThreeTail2.webp" alt="Photo" class="img-fluid">
            <div class="text-overlay">
              <p class="style">DES IDEES POUR AMENAGER VOTRE FORGON</p>
            </div>
          </div>
      </div>
      <div class="col-md-4" style="padding: 5px;">
        <div class="image-container">
            <img src="https://www.syncro-system.fr/imagesWLF/index/3Tail/ThreeTail3.webp" alt="Photo" class="img-fluid">
            <div class="text-overlay">
              <p class="style">AMENAGEMENTS INTERNES POUR FOURGONS DE TOUTE MARQUE ET MODELE</p>
            </div>
          </div>
      </div>
    </div>
    </div> 