.pd{
    padding: 2%;
}

.style {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -55%);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    font-size: 25px;
    width: 83%;
    text-transform: uppercase;
    text-align: center;
}
