<!-- <head>
    <title>Formulaire Responsive</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head> -->

    <div class="container mt-4" style="border: ridge;background-color: #86bed6;color: black;">
      <form>
        <div class="form-group">
          <label for="nom"><strong> Marque:</strong></label>
          <input type="text" class="form-control" id="nom" placeholder="(***champ obligatoire)">
        </div>
        <div class="form-group">
          <label for="email"><strong>Modèl:</strong></label>
          <input type="email" class="form-control" id="email" placeholder="(***champ obligatoire)">
        </div>
        <div class="form-group">
          <label for="numtel">Empattement:</label>
          <input type="tel" class="form-control" id="numtel" placeholder="">
        </div>
        <div class="form-group">
          <label for="adresse">Toit:</label>
          <input type="text" class="form-control" id="adresse" placeholder="">
        </div>
        <div class="form-group">
          <label for="pays">Notes:</label>
        </div>
        <textarea class="form-control" id="txtNote" name="txtNote" placeholder=""></textarea>
      </form>
      <br>
    </div>
    <br>
    <br>

  