<div class="sty">
<nav class="navbar navbar-expand-md " style="color: aliceblue;">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"><strong>Home</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>  
  <router-outlet></router-outlet>
