<!-- <div style="padding: 2%;"> <A href="#">
<div class="card fluid">
    <div class="card-body"><p class="k">Les meubles Syncro System ont passé le crash test 2023</p></div>
    <img class="card-img-top img-responsive img-fluid card-img-top" src="../../../assets/images/img1.jpg" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  
    </div>
</div></A>
</div> -->
<div class="container size col-md-12">
    <div class="row">
        <div class="col-md-3">
            <div style="padding: 2%;">
                <A href="#">
                    <div class="card fluid">
                        <div class="card-body">
                            <p class="k">
                                <strong>Les meubles Syncro System ont passé le crash test 2023</strong>
                            </p>
                        </div>
                        <img class="card-img-top img-responsive img-fluid card-img-top" src="https://www.syncro-system.fr/api/img/--_20711.jpg?width=352&height=220" alt="Card image cap">
                        <div class="card-body">
                            <!-- <h4 class="card-title">Card title</h4> -->
                            <p class="card-text d">
                                L’aménagement pour fourgons Syncro System a passé brillamment l’épreuve du crash test 2023: avec plus de charge qu’en 2015, aucun risque ultérieur dérivant des meubles en cas d’accident
                            </p>
                        </div>
                    </div>
                </A>
            </div>
        </div>
        <div class="col-md-3">
            <div style="padding: 2%;">
                <A href="#">
                    <div class="card fluid">
                        <div class="card-body">
                            <p class="k">
                                <strong> Étiquettes pour conteneurs en plastique Syncro</strong>
                            </p>
                        </div>
                        <img class="card-img-top img-responsive img-fluid card-img-top" src="https://www.syncro-system.fr/api/img/--_20606.webp?width=352&height=220" alt="Card image cap">
                        <div class="card-body">
                            <!-- <h4 class="card-title">Card title</h4> -->
                            <p class="card-text d">
                                File pdf à télécharger, imprimer et découper avec étiquettes sur mesure pour conteneurs en plastique Syncro System pour fourgons
                            </p>
                        </div>
                    </div>
                </A>
            </div>
        </div>
        <div class="col-md-3">
            <div style="padding: 2%;">
                <A href="#">
                    <div class="card fluid">
                        <div class="card-body">
                            <p class="k">
                                <strong> Un engagement social de plus de dix ans pour soutenir les projets des enfants des fées</strong>
                            </p>
                        </div>
                        <img class="card-img-top img-responsive img-fluid card-img-top" src="https://www.syncro-system.fr/api/img/--_20461.webp?width=352&height=220" alt="Card image cap">
                        <div class="card-body">
                            <!-- <h4 class="card-title">Card title</h4> -->
                            <p class="card-text d">
                                Syncro System parmi les entreprises qui permettront aux « enfants des fées «  de développer un nouveau projet qui accompagnera les enfants et les adolescents fragiles même à l’âge adulte
                            </p>
                        </div>
                    </div>
                </A>
            </div>
        </div>
        <div class="col-md-3">
            <div style="padding: 2%;">
                <A href="#">
                    <div class="card fluid">
                        <div class="card-body">
                            <p class="k">
                                <strong> Un revêtement en acier sauve la carrosserie du fourgon</strong>
                            </p>
                        </div>
                        <img class="card-img-top img-responsive img-fluid card-img-top" src="https://www.syncro-system.fr/api/img/--_20090.jpg?width=352&height=220" alt="Card image cap">
                        <div class="card-body">
                            <!-- <h4 class="card-title">Card title</h4> -->
                            <p class="card-text d">
                                Grâce à la présence de panneaux de protection en acier Syncro System, la carrosserie du fourgon est indemne après un accident avec déplacement du chargement
                            </p>
                        </div>
                    </div>
                </A>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container size col-md-12">
    <div class="row ">
        <div class="col-md-3">
            <div style="padding: 2%;">
                <A href="#">
                    <div class="card fluid">
                        <div class="card-body">
                            <p class="k">
                                <strong>Le manuel de montage Syncro 2023</strong>
                            </p>
                        </div>
                        <img class="card-img-top img-responsive img-fluid card-img-top" src="https://www.syncro-system.fr/api/img/--_20065.jpg?width=352&height=220" alt="Card image cap">
                        <div class="card-body">
                            <!-- <h4 class="card-title">Card title</h4> -->
                            <p class="card-text d">
                                Manuel de montage pour installateurs et clients avec toutes les instructions pour une installation professionnelle des produits Syncro System pour fourgons
                            </p>
                        </div>
                    </div>
                </A>
            </div>
        </div>
        <div class="col-md-3">
            <div style="padding: 2%;">
                <A href="#">
                    <div class="card fluid">
                        <div class="card-body">
                            <p class="k">
                                <strong>Fourgons meublés pour chauffagiste 2023</strong>
                            </p>
                        </div>
                        <img class="card-img-top img-responsive img-fluid card-img-top" src="https://www.syncro-system.fr/api/img/--_20042.webp?width=352&height=220" alt="Card image cap">
                        <div class="card-body">
                            <!-- <h4 class="card-title">Card title</h4> -->
                            <p class="card-text d">
                                Ameublement sur mesure pour chauffagiste réalisé à bord de véhicules utilitaires par les techniciens experts Syncro System 2023
                            </p>
                        </div>
                    </div>
                </A>
            </div>
        </div>
        <div class="col-md-3">
            <div style="padding: 2%;">
                <A href="#">
                    <div class="card fluid">
                        <div class="card-body">
                            <p class="k">
                                <strong> Syncro System à K.EY 2023 à Rimini</strong>
                            </p>
                        </div>
                        <img class="card-img-top img-responsive img-fluid card-img-top" src="https://www.syncro-system.fr/api/img/--_19989.webp?width=352&height=220" alt="Card image cap">
                        <div class="card-body">
                            <!-- <h4 class="card-title">Card title</h4> -->
                            <p class="card-text d">
                                Syncro System Spa participe à K.EY 2023 à Rimini: la foire des solutions et des services vers la transition énergétique et vers le carbon-neutral
                            </p>
                        </div>
                    </div>
                </A>
            </div>
        </div>
        <div class="col-md-3">
            <div style="padding: 2%;">
                <A href="#">
                    <div class="card fluid">
                        <div class="card-body">
                            <p class="k">
                                <strong> éditions en anglais français espagnol allemand du grand guide 2023 Syncro</strong>
                            </p>
                        </div>
                        <img class="card-img-top img-responsive img-fluid card-img-top" src="https://www.syncro-system.fr/api/img/--_19979.webp?width=352&height=220" alt="Card image cap">
                        <div class="card-body ">
                            <!-- <h4 class="card-title">Card title</h4> -->
                            <p class="card-text d">
                                Online les versions en anglais français espagnol allemand du grand guide 2023 de l’aménagement pour fourgons, avec une foule de nouveautés et des nouvelles photos d’aménagements
                            </p>
                        </div>
                    </div>
                </A>
            </div>
        </div>
    </div>
</div>
