<app-topbar></app-topbar>
<app-navbar></app-navbar>
<!-- <h1 class="stileTitolo" style="margin-top: 20px;">Méthodes de gestion Syncro System</h1> -->
<br><br>
<h1 class="page-title kk"><strong>Qui sommes nous ?</strong></h1>
<!-- <div class="divider divider-default" style="margin-right: 0%;"></div>-->
<app-square-button></app-square-button>
<div class="sidebar-header">
    <h5 style="text-align: center;">
        <br>
    </h5>
    <app-seperatingline></app-seperatingline>
    <br>
    <br>
    <br>
</div>
<div class="row">
<br>
<div class="col-lg-2"></div>
<div class="col-lg-8 col-md-12b my-border" style="text-align:center; padding-bottom:20px">
    <br>
    <div class="gallery_links gallery">
                <a data-gallery="" href="/api/img/kaizen_13631.jpg" title="Kaizen" style="display:inline-block;position: relative; text-align:center; margin:auto; ">
                    <img  src="../../../assets/images/transparentlogo.png" loading="lazy" alt="Kaizen" style="margin-top: 0px; margin-bottom: 0px; padding: 2px; width:350px;max-height:350px; height: auto;">
                </a>
    </div>



<div class="textCorpo">

    KAI est un terme japonais qui signifie amélioration, tandis que ZEN indique la voie : le KAIZEN est une philosophie (pratique) d’ «&nbsp;amélioration continue&nbsp;» qui prévoit l’engagement constant et l'implication de toute l’entreprise dans le processus. 
C’est ce simple concept qui nous renseigne sur le mode de gestion de Syncro System, qui s’est inspirée de ladite «&nbsp;lean manufacturing&nbsp;» pour la gestion des activités au sein du groupe. 
La terminologie «&nbsp;production au plus juste&nbsp;» (lean production) est née pour décrire l’ensemble des principes visant l’élimination des gaspillages (muda) dans la filière de production et la maximisation de la production. 
Les gaspillages que Syncro System, en quête perpétuelle de «&nbsp;perfection&nbsp;», a éliminés (et que celle-ci continue à chercher, réduire et éliminer) concernent la surproduction, le ré-usinage, le stock excessif du matériel, les déplacements inutiles tant des opérateurs que des matériels, ainsi que les temps morts. 
La surproduction et les stocks, en particulier, ont été affrontés par Syncro System en appliquant le système du «&nbsp;juste-à-temps&nbsp;», qui organise la logistique (de la production à l’expédition) non plus selon des quantités prédéfinies, mais d’après la demande contingente. 
Ainsi, on ne risque pas de produire trop, et dans le même temps, il n’y a pas de délais d’ ATTENTE en cas d’autres demandes. 
Pour faire fonctionner ce système, Syncro System a adopté un système de gestion des commandes et de la production entièrement informatisé, par conséquent, toutes les demandes et commandes exécutées sont quantifiées en temps réel. 
Le choix de Syncro System d’investir dans l’achat et la mise en service de machines sophistiquées pour la découpe, le pliage, l’usinage et la peinture des produits a contribué à l’amélioration continue, et en particulier à l’élimination du ré-usinage : en réduisant et en annulant quasiment à zéro les tolérances d’usinage et le taux de casses, on obtient des produits de qualité élevée, avec des coûts inférieurs et une plus grande satisfaction du client. 
Les problèmes de manutention, de transport et d’attente sont affrontés avec une organisation rationnalisée et réglementée des espaces intérieurs et des procédures. Les remarques de la part de tous les opérateurs, dans les filiales comme dans les sièges principaux, sont collectées et vérifiées, et si cela apporte une amélioration, celles-ci sont prises en considération en modifiant l’existant : ainsi, les potentialités de chacun sont mises au premier plan, toujours dans le but d’améliorer l’entreprise dans son ensemble, en réduisant les coûts et en servant au mieux le client.
    
</div>

<!-- controller galleria -->

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" aria-label="image gallery" aria-modal="true" role="dialog">
<div class="slides" aria-live="polite"></div>
<h3 class="title"></h3>
<a class="prev" aria-controls="blueimp-gallery" aria-label="previous slide" aria-keyshortcuts="ArrowLeft"></a>
<a class="next" aria-controls="blueimp-gallery" aria-label="next slide" aria-keyshortcuts="ArrowRight"></a>
<a class="close" aria-controls="blueimp-gallery" aria-label="close" aria-keyshortcuts="Escape"></a>
<a class="play-pause" aria-controls="blueimp-gallery" aria-label="play slideshow" aria-keyshortcuts="Space" aria-pressed="false" role="button"></a>
<ol class="indicator"></ol>
</div>
<!-- Bottone fluttuante -->


<!-- Bottone fluttuante che porta ai contantti-->
<a href="/contacts" class="float" style="z-index: 1000000; margin-right:40px">
<div class="row">
<div class="col-xs-9" style="padding:0px; margin:0px; padding-left:15px;padding-right:10px">
<div style="display:flex">
                                                                    <span style="padding:5px; padding-left:10px; text-align: justify; font-size:13px; padding-top:10px">CONTACTEZ-NOUS POUR<br> UNE OFFRE GRATUITE</span>
</div>
</div>
<div class="col-xs-2" style="padding:0px;  margin:0px">
<span style="width: 10px;"></span>
<span class="fas fa-arrow-circle-right" style="padding:3px; font-size: 40px; padding-top: 10px; text-align:right" aria-hidden="true"></span>
</div>
</div>
</a>

</div>
<div class="col-lg-2"></div>
</div>
<!-- 
<app-my-custom-component
[variable1]="myVariable1";
[variable2]="myVariable2";
[variable3]="myVariable3";
[variable4]="myVariable4";
></app-my-custom-component>
 -->

<!-- <div>
    <app-my-custom-component 
    [variable1]="myVariable1";
    [variable2]="myVariable2";
    [variable3]="myVariable3";
    >
</app-my-custom-component>
    

[variable5]="myVariable5";
[variable6]="myVariable6";
[variable7]="myVariable7";
[variable8]="myVariable8";
[variable9]="myVariable9";
[variable10]="myVariable10";
[variable11]="myVariable11";
[variable12]="myVariable12";
[variable13]="myVariable13";
[variable14]="myVariable14";
[variable15]="myVariable15"; 
</div>
   -->
<br><br>
<app-footer></app-footer>


<script>
  $( '#topheader .navbar-nav a' ).on( 'click', function () {
	$( '#topheader .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	$( this ).parent( 'li' ).addClass( 'active' );
});
</script>
