/* backgr{
    background-color:darksalmon;
} */


/* .bg-light {
    background-color: darkslategrey;
} */

/* styles.css */

a{
    font-size:larger;
}

.btncol{
    color: black;
    border-color: #7460ee;
    background-color:transparent;
    transition: 0.7s;
    flood-color: #7460ee;
    border-color: black;
    border-radius: 2%;
}
/* .rd-navbar-static .rd-navbar-nav>li.active>a, .rd-navbar-fullwidth .rd-navbar-nav>li.active>a {
    color: #019cde;
    background: transparent;
}

.rd-navbar-static .rd-navbar-nav>li>a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 3px;
    content: "";
    display: inline-block;
    opacity: 0;
    transition: 250ms;
    background: #019cde;
} */

.class1{
    text-align: center;
    width: 100%;
    height: 100%;
    /* color: #4fc1f1; */
    background: #86bed6;
    border-radius: 100px;

}

.padd{
    padding: 0%;
}

a {
color: black;
}

.marg{
margin:0%
}