<nav class="navbar navbar-expand-lg navbar-dark col-md-12" style="width:100%;background-color: rgb(170, 170, 170);">
  <div class="col-md-2 " ></div>
  <div class="marg" style="width: 80%;"> 
        <div [ngClass]="!isShowDivIf ? 'responsive__active' : 'responsive__inactive'" class="collapse navbar-collapse " id="navbarResponsive" class="black-text"  >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active ">
                    <a class="nav-link" routerLink="../home" routerLinkActive="class1">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="../entreprise" routerLinkActive="class1">ENTREPRISE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="../Produits" routerLinkActive="class1">PRODUITS</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="../amenagement"
                        routerLinkActive="class1"
                        style="padding-right: 1%;"
                    >AMENAGEMENT</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="../Partenaires" routerLinkActive="class1">PARTENAIRES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="../References" routerLinkActive="class1">REFERENCES</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="../Video" routerLinkActive="class1">VIDEO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="../ZoneActivite" routerLinkActive="class1">ZONE D'ACTIVITES</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="../FAQ" routerLinkActive="class1">FAQ</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="../Contacts" routerLinkActive="class1">CONTACTS</a>
                </li>
            </ul>
        </div>
      </div>
      <div class="col-md-1 " ></div>
</nav>
<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(214, 213, 213);" >
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="../home" routerLinkActive="class1">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../entreprise" routerLinkActive="class1">ENTREPSRISE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/References" routerLinkActive="class1">REFERENCES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../amenagement" routerLinkActive="class1">AMENAGEMENT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../ZoneActivite" routerLinkActive="class1">ZONE D'ACTIVITES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../FAQ" routerLinkActive="class1">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../Partenaires" routerLinkActive="class1">PARTENAIRES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../Produits" routerLinkActive="class1">PRODUITS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../Video" routerLinkActive="class1">VIDEO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../Contacts" routerLinkActive="class1">CONTACTS</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input
                width="30px"
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                style="background-color:snow;border-color:black;border-radius: 2%;"
            >
            <button class="btn btn-outline-success btncol" type="submit">Search</button>
        </form>
    </div>
</nav> -->
