<div style="background-color: rgb(231, 231, 231);">
<app-topbar></app-topbar>
<app-navbar></app-navbar>
<br>
<br>
<h1 class="page-title kk">
    <strong>ZONE D'ACTIVITE</strong>
</h1>
<br>
<app-seperatingline></app-seperatingline>

 <div class="col-md-12" style="margin-bottom:50px;text-align:center ;padding-left: 4%;padding-right: 4%"  >
   <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1qmXfAtU4ZhAM0Ny0hYuWBfDiD6Dzjws&ehbc=2E312F" width="100%" height="700px"></iframe>
    <br>
    <br>
    <a href="https://www.google.com/maps/d/u/1/viewer?mid=1qmXfAtU4ZhAM0Ny0hYuWBfDiD6Dzjws&ll=-3.81666561775622e-14%2C37.43024854999999&z=1" target="_blank">
        Agrandir le plan</a>
</div>

<div class="row" style="padding: 2%;padding-left: 18%;">
    <!-- Column -->
    <div style="margin: 1%;">
        <div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <div class="text-center text-white ">
                           <img src="../../../assets/images/tunisie.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div style="text-align: center;padding: 10px;">
                            <strong><p>TUNISIE</p></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div style="margin: 1%;">
        <div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <div class="text-center text-white ">
                           <img class="drapeau" src="../../../assets/images/algerie.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div style="text-align: center;padding: 10px;">
                            <strong><p>ALGERIE</p></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div style="margin: 1%;">
        <div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <div class="text-center text-white ">
                           <img class="drapeau" src="../../../assets/images/marroc.jfif" alt="">
                        </div>
                    </div>
                    <div>
                        <div style="text-align: center;padding:10px;">
                            <strong><p>MARROC</p></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->


    <div style="margin: 1%;">
        <div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <div class="text-center text-white ">
                           <img class="drapeau" src="../../../assets/images/libye.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div style="text-align: center;padding: 10px;">
                            <strong><p>LIBYE</p></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>


<br><br>
<app-footer></app-footer></div>