<div style="padding-left: 20px;">
    <nav class="navbar navbar-default" id="sidebar" style="border-radius: 10px;width: 300px;padding: 20px;background-color: #0078ac;color: white;">
        <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        </button>
        <ul class="nav navbar-nav" class="list-unstyled components" class="navbar-nav mr-auto">
            <p style="font-size: 22px;">
                <strong>Menu</strong>
            </p>
            <li class="nav-item active">
                <!-- <a href="entreprise" style="white-space:normal;">mode gestion</a> -->
                <a class="nav-link" routerLink="../entreprise" routerLinkActive="class1">mode gestion</a>
            </li>
            <hr style="margin: 0 auto;width: 90%; height: 1px;">
            <li class="nav-item">
                <!-- <a href="SystemesProductionComponent" style="white-space:normal;">Systèmes de production</a> -->
                <a class="nav-link" routerLink="../SystemesProductionComponent" routerLinkActive="class1">SystemesProductionComponent</a>
            </li>
            <hr style="margin: 0 auto;width: 90%; height: 1px;">
            
        </ul>
    </nav>
</div>
