    /* Style du texte en mouvement */
    .carousel-slide {
      position: relative;
      overflow: hidden;
    }

    .carousel-slide .carousel-item p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .title{
        text-align: center;
        font-size: xx-large;
    }

    .row1{
        width: 15%;
    }

    .bbtn{
        width: 30%;
        margin-left: 35%;
    }
    .menu1 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 20%;
        height: 40px;
        background-color : #fde6ed;
        border-top: solid black 1px;
        padding: 5px;
        padding-left: 5px;
        padding-top: 0;
        color: white;
        opacity: .8;
        filter: alpha(opacity=80);
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        box-shadow: 1px 10px 12px #000000;
        filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=200, Strength=12);
        zoom: 1;
}
.menu1 td {
        padding-left: 20px;
        padding-top: 0;
}
 
body>.menu1 {position:fixed}
 
.menu1 td {
        padding-left: 20px;
        padding-top: 0;
}


.kk{
  text-align: center;
  font-size: xx-large;
  width:auto;
  color: #000000;

}
