<div style="background-color: rgb(231, 231, 231);">
<app-topbar ></app-topbar>
<app-navbar></app-navbar>
<app-square-button></app-square-button>
<br>
<app-carousel></app-carousel>
<br>
<!-- <h3 class="title">LES AVANTAGES DU SYSTEM SYNCRO SYSTEM</h3> -->
<br>
<h4 class="page-title kk"><strong>NOS ACTIVITES</strong></h4>
<br>
<app-seperatingline></app-seperatingline>
<app-item></app-item>
<div class="button-group">
<!-- <a href="AVANTAGES"><button  type="button" class="btn waves-effect waves-light btn-lg btn-rounded btn-primary bbtn">TOUTES LES AVANTAGES </button></a> -->
</div>
<br>
<app-slide></app-slide>
<!-- <h3 class="title">DERNIERES NOUVEAUTES </h3> -->
<!-- <h4 class="page-title kk"><strong>DERNIERES NOUVEAUTES</strong></h4>
<br>
<app-seperatingline></app-seperatingline>
<br> -->
<!-- <app-item2></app-item2> -->
<div class="button-group">
<!-- <a href="AVANTAGES"><button  type="button" class="btn waves-effect waves-light btn-lg btn-rounded btn-primary bbtn">TOUTES LES NOUVEAUTES </button></a> -->
</div>
<!-- <app-show></app-show> -->
<br>
<!-- <h3 class="title"><i>DÉCOUVREZ TOUS LES EXEMPLES DE FOURGONS AMÉNAGÉS</i></h3> -->
<h4 class="page-title kk"><strong>DÉCOUVREZ TOUS LES EXEMPLES DE FOURGONS AMÉNAGÉS</strong></h4>
<br>
<app-seperatingline></app-seperatingline>
<br>
<app-table></app-table>
<app-footer></app-footer> </div>