<div class="container mt-4" style="text-align: center;">
<div class="row" style="margin-top:30px; text-align:left; background-color:#f5f5f5; border: 1px solid #e3e3e3; border-radius:4px; padding:5px" >
    <div class="col-xs-12">
      <div class="well">
        <div>
          <h4><strong>Termes et conditions *</strong></h4>
                          <h5>Nous désirons vous informer sur la façon dont nous conserverons vos données, pour combien de temps et pour quelles finalités. Vous pourrez à chaque instant les consulter et demander leur suppression en nous contactant à l’adresse info@syncro-system.com ou au numéro +39 0424.570.062</h5>
        </div>
        <div>
          <input type="checkbox" name="agreePrivacy" id="agreePrivacy" onchange="enableDisableSubmit()" class="checkbox-custom"><span class="checkbox-custom-dummy"></span> Je donne mon consentement pour votre <a href="/privacy" target="_blank">"Note d’information Confidentialité"</a>
        </div>
      </div>
    </div>
</div>

<br><br>

<div class="row" style="text-align: left; background-color:#f5f5f5; border: 1px solid #e3e3e3; border-radius:4px; padding:5px">
    <div class="col-xs-12">
      <div class="well">
        <div>
          <h4><strong>Contact  commercial *</strong></h4>
                          <h5>Vous désirez être contacté par un de nos consultants ?</h5>
        </div>
        <div>
          <input type="checkbox" name="agreeContact" id="agreeContact" onchange="enableDisableSubmit()" style="" class="checkbox-custom"><span class="checkbox-custom-dummy"></span> oui, je désire être contacté par un de vos consultants
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <div class="row" style="text-align: left; background-color:#f5f5f5; border: 1px solid #e3e3e3; border-radius:4px; padding:5px">
    <div class="col-xs-12">
      <div class="well">
        <div>
          <h4><strong>Inscription à la Newsletter</strong></h4>
                          <h5>Vous désirez recevoir de nouvelles informations et des offres spéciales via mail ?</h5>
        </div>
        <div>
          <input type="checkbox" name="agreeNewsletter" id="agreeNewsletter" class="checkbox-custom"><span class="checkbox-custom-dummy"></span> Oui, je désire recevoir votre Newsletter
        </div>
      </div>
    </div>
  </div>

  <br><br>
  <button class="g-recaptcha" data-sitekey="6Ldp2OYjAAAAAA79AKWgzWva_MTcke1vD-ukTOZQ" data-callback="onSubmit" data-action="submit" style="font-size: 3vw; font-weight: bold; text-align: center; letter-spacing: 2px; background-color: rgb(204, 204, 204);" id="btnSubmit" disabled="">J’ACCEPTE LES CONDITIONS</button>
 
<br><br>

  <span style="font-weight:bold;text-align:center">Nous respectons la confidentialité: Nous ne donnerons à personne VOS DONNÉES!</span>
 
 </div>
 
 
 
 
 
 
