<app-topbar></app-topbar>
<app-navbar></app-navbar>
<br><br><br>
<h1 class="page-title kk"><strong>LES SYSTÈMES DE PRODUCTION DU GROUPE SYNCRO SYSTEM</strong></h1>
<!-- <div class="divider divider-default" style="margin-right: 0%;"></div>-->
<app-square-button></app-square-button>
<div class="sidebar-header">
    <h5 style="text-align: center;">
        <br>
    </h5>
    <app-seperatingline></app-seperatingline>
    <br>
    <br>
    <br>
</div>


<div class="row">
    <app-my-custom-component ></app-my-custom-component>

    <div class="col-xs-12 col-md-9" style="text-align:center; padding-bottom:20px;padding-left: 100px;">
        <h2 class="stileTitoloCapitolo">SYSTÈMES DE PRODUCTION</h2>
        
        <br>
        <div class="textCorpo text">
            Pour Syncro System, la production est le point de départ d’une filière qui aboutit au service après-vente offert sur des produits garantis trois ans : cela signifie que la qualité des produits revêt un rôle fondamental et est garantie par une attention portée aux matériaux et aux méthodes de production (à ce jour complètement informatisés) visant à l’amélioration continue.
        </div>
        <br>
        <h2 class="stileTitoloCapitolo">Conception</h2>
        <br>
        <div class="textCorpo text">
            Tout est issu du bureau d’études, qui collecte les idées de la direction, des techniciens, des clients eux-mêmes afin de les transformer en prototypes virtuels (réalisés à l’aide de logiciels de conception assistée par ordinateur 3D) de nouveaux produits potentiels ou en améliorations à apporter à des produits déjà existants. 
            L’étape suivante prévoit la réalisation d’un prototype réel qui doit passer une série de tests afin de pouvoir entrer en production et être donc proposé aux clients comme partie intégrante du système Syncro System, qui se caractérise par la combinabilité élevée et la modularité des éléments figurant au catalogue.
        </div>
        <br>
        <h2 class="stileTitoloCapitolo">Production</h2>
        <br>
        <div class="gallery_links gallery">
            <a
                data-gallery=""
                href="/api/img/systeme-de-production-syncro-system_18356.webp"
                title="Système de production Syncro System"
                style="display:inline-block;position: relative; text-align:center; margin:auto"
            >
                <img
                    src="https://www.syncro-system.fr/api/img/systeme-de-pr…ion-syncro-system_18356.webp?width=211&height=150"
                    loading="lazy"
                    alt="Système de production Syncro System"
                    style="margin-top: 0px; margin-bottom: 0px; border: 1px solid #ccc; padding: 2px; width:211px;height:150px"
                >
            </a>
            <span style="padding:3px"></span>
            <a
                data-gallery=""
                href="/api/img/sistemas-de-produccion-syncro-system_18357.webp"
                title="Sistemas de produccion Syncro System"
                style="display:inline-block;position: relative; text-align:center; margin:auto"
            >
                <img
                    src="https://www.syncro-system.fr/api/img/sistemas-de-p…ion-syncro-system_18357.webp?width=199&height=150"
                    loading="lazy"
                    alt="Sistemas de produccion Syncro System"
                    style="margin-top: 0px; margin-bottom: 0px; border: 1px solid #ccc; padding: 2px; width:199px;height:150px"
                >
            </a>
            <span style="padding:3px"></span>
            <a
                data-gallery=""
                href="/api/img/systeme-de-production-syncro-system_18358.webp"
                title="Système de production Syncro System"
                style="display:inline-block;position: relative; text-align:center; margin:auto"
            >
                <img
                    src="https://www.syncro-system.fr/api/img/systeme-de-pr…ion-syncro-system_18358.webp?width=199&height=150"
                    loading="lazy"
                    alt="Système de production Syncro System"
                    style="margin-top: 0px; margin-bottom: 0px; border: 1px solid #ccc; padding: 2px; width:199px;height:150px"
                >
            </a>
            <span style="padding:3px"></span>
            <br>
            <a
                data-gallery=""
                href="/api/img/systeme-de-production-syncro-system_18359.webp"
                title="Système de production Syncro System"
                style="display:inline-block;position: relative; text-align:center; margin:auto"
            >
                <img
                    src="https://www.syncro-system.fr/api/img/systeme-de-pr…ion-syncro-system_18359.webp?width=227&height=150"
                    loading="lazy"
                    alt="Système de production Syncro System"
                    style="margin-top: 0px; margin-bottom: 0px; border: 1px solid #ccc; padding: 2px; width:227px;height:150px"
                >
            </a>
            <span style="padding:3px"></span>
            <a
                data-gallery=""
                href="/api/img/systeme-de-production-syncro-system_18360.webp"
                title="Système de production Syncro System"
                style="display:inline-block;position: relative; text-align:center; margin:auto"
            >
                <img
                    src="	https://www.syncro-system.fr/api/img/systeme-de-pr…ion-syncro-system_18360.webp?width=199&height=150"
                    loading="lazy"
                    alt="Système de production Syncro System"
                    style="margin-top: 0px; margin-bottom: 0px; border: 1px solid #ccc; padding: 2px; width:199px;height:150px"
                >
            </a>
        </div>
        <br>
        <div class="textCorpo text">
            On entre donc dans le vif de la production, qui s’effectue, comme d’ailleurs les phases de conception et de tests, dans les usines de San Zeno di Cassola, dans la province de Vicence. 
Syncro System s’occupe directement de toutes les étapes : du choix des matières premières (aluminium grain de riz, épaisseur 2 mm + 1 mm pour le bossage; aluminium anodisé de 1,5 mm et oxydé en surface, acier, bois de bouleau multicouche enduit de résine pour résister à l’humidité) à la découpe, le pliage et la peinture, jusqu’à l’assemblage des pièces et à l’emballage pour l’expédition à des filiales et concessionnaires situés en Italie et à l’étranger. 
La production s’effectue en utilisant des machines de dernière génération, qui garantissent des usinages de très haute qualité à des prix concurrentiels : la découpe se fait au laser (avec une tolérance d’usinage de l’ordre de 0,1 mm), tandis que pour le pliage, on utilise des robots à commande numérique, de même que pour la peinture, le tout avec des machines intégrées dans un système CAD-CAM qui assure une conformité au projet dans les moindres détails. La qualité élevée des résultats se reflète dans l’absence de casse dans les produits finis et dans leur réutilisabilité : chaque élément est compatible avec ceux produits par le passé et le sera de la même manière avec ceux qui sortiront des usines dans le futur.
        </div>
        <br>
        <h2 class="stileTitoloCapitolo">Entrepôt</h2>
        <br>
        <div class="gallery_links gallery">
            <a
                data-gallery=""
                href="/api/img/entrepot-du-syncro-system_18361.webp"
                title="Entrepôt du Syncro System"
                style="display:inline-block;position: relative; text-align:center; margin:auto"
            >
                <img
                    src="https://www.syncro-system.fr/api/img/entrepot-du-syncro-system_18361.webp?width=225&height=150"
                    loading="lazy"
                    alt="Entrepôt du Syncro System"
                    style="margin-top: 0px; margin-bottom: 0px; border: 1px solid #ccc; padding: 2px; width:225px;height:150px"
                >
            </a>
            <span style="padding:3px"></span>
            <a
                data-gallery=""
                href="/api/img/entrepot-du-syncro-system_18362.jpg"
                title="Entrepôt du Syncro System"
                style="display:inline-block;position: relative; text-align:center; margin:auto"
            >
                <img
                    src="https://www.syncro-system.fr/api/img/entrepot-du-syncro-system_18362.jpg?width=181&height=150"
                    loading="lazy"
                    alt="Entrepôt du Syncro System"
                    style="margin-top: 0px; margin-bottom: 0px; border: 1px solid #ccc; padding: 2px; width:181px;height:150px"
                >
            </a>
            <span style="padding:3px"></span>
            <a
                data-gallery=""
                href="/api/img/entrepot-du-syncro-system_18363.jpg"
                title="Entrepôt du Syncro System"
                style="display:inline-block;position: relative; text-align:center; margin:auto"
            >
                <img
                    src="https://www.syncro-system.fr/api/img/entrepot-du-syncro-system_18363.jpg?width=200&height=150"
                    loading="lazy"
                    alt="Entrepôt du Syncro System"
                    style="margin-top: 0px; margin-bottom: 0px; border: 1px solid #ccc; padding: 2px; width:200px;height:150px"
                >
            </a>
            <span style="padding:3px"></span>
            <a
                data-gallery=""
                href="/api/img/entrepot-du-syncro-system_18364.jpg"
                title="Entrepôt du Syncro System"
                style="display:inline-block;position: relative; text-align:center; margin:auto"
            >
                <img
                    src="	https://www.syncro-system.fr/api/img/entrepot-du-syncro-system_18364.jpg?width=200&height=150"
                    loading="lazy"
                    alt="Entrepôt du Syncro System"
                    style="margin-top: 0px; margin-bottom: 0px; border: 1px solid #ccc; padding: 2px; width:200px;height:150px"
                >
            </a>
        </div>
        <br><br>
        <div class="textCorpo text">
            L’entrepôt est organisé de manière à garantir des délais de livraison très rapides et un taux d’erreur très faible, dans l’optique d’une satisfaction toujours meilleure du client et d’une amélioration continue. L'ensemble du fichier clients est géré, dans le respect de la vie privée et de la protection des données personnelles, de manière à garantir une rapidité de réponse et une adhésion aux demandes à partir du moment du conseil jusqu’à celui de l’aménagement, et à partir de la phase de facturation jusqu’à celle du service après-vente. 
À ce sujet, vous pouvez même lire un article approfondi sur les systèmes de gestion appliqués par Syncro System.
        </div>
        <!-- controller galleria -->
        <div
            id="blueimp-gallery"
            class="blueimp-gallery blueimp-gallery-controls"
            aria-label="image gallery"
            aria-modal="true"
            role="dialog"
        >
            <div class="slides" aria-live="polite"></div>
            <h3 class="title"></h3>
            <a
                class="prev"
                aria-controls="blueimp-gallery"
                aria-label="previous slide"
                aria-keyshortcuts="ArrowLeft"
            ></a>
            <a
                class="next"
                aria-controls="blueimp-gallery"
                aria-label="next slide"
                aria-keyshortcuts="ArrowRight"
            ></a>
            <a
                class="close"
                aria-controls="blueimp-gallery"
                aria-label="close"
                aria-keyshortcuts="Escape"
            ></a>
            <a
                class="play-pause"
                aria-controls="blueimp-gallery"
                aria-label="play slideshow"
                aria-keyshortcuts="Space"
                aria-pressed="false"
                role="button"
            ></a>
            <ol class="indicator"></ol>
        </div>
        <!-- Bottone fluttuante -->
        <!-- Bottone fluttuante che porta ai contantti-->
        <!-- <a href="/contacts" class="float" style="z-index: 1000000; margin-right:40px">
            <div class="row">
                <div class="col-xs-9" style="padding:0px; margin:0px; padding-left:15px;padding-right:10px">
                    <div style="display:flex">
                        <span style="padding:5px; padding-left:10px; text-align: justify; font-size:13px; padding-top:10px">
                            CONTACTEZ-NOUS POUR
                            <br>
                            UNE OFFRE GRATUITE
                        </span>
                    </div>
                </div>
                <div class="col-xs-2" style="padding:0px;  margin:0px">
                    <span style="width: 10px;"></span>
                    <span class="fas fa-arrow-circle-right" style="padding:3px; font-size: 40px; padding-top: 10px; text-align:right" aria-hidden="true"></span>
                </div>
            </div>
        </a> -->
    </div>
</div>
<br>

<!-- 
<app-my-custom-component
[variable1]="myVariable1";
[variable2]="myVariable2";
[variable3]="myVariable3";
[variable4]="myVariable4";
></app-my-custom-component>
 -->

<!-- <div>
    <app-my-custom-component 
    [variable1]="myVariable1";
    [variable2]="myVariable2";
    [variable3]="myVariable3";
    >
</app-my-custom-component>
    

[variable5]="myVariable5";
[variable6]="myVariable6";
[variable7]="myVariable7";
[variable8]="myVariable8";
[variable9]="myVariable9";
[variable10]="myVariable10";
[variable11]="myVariable11";
[variable12]="myVariable12";
[variable13]="myVariable13";
[variable14]="myVariable14";
[variable15]="myVariable15"; 
</div>
   -->

<app-footer></app-footer>


<script>
  $( '#topheader .navbar-nav a' ).on( 'click', function () {
	$( '#topheader .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	$( this ).parent( 'li' ).addClass( 'active' );
});
</script>
