
<app-topbar></app-topbar>
<app-navbar></app-navbar>
<section class="section section-lg bg-default text-center" style="padding: 20px;">
    <h1 class="page-title kk">
        <strong>FAQ</strong>
    </h1>
    <app-seperatingline></app-seperatingline>
    <br>
    <div class="container col-md-10">
        <div class="accordion">
            <div class="card">
                <div class="card-header" id="245header">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link collapsed"
                            style="text-decoration:none"
                            data-toggle="collapse"
                            data-target="#combien-coute-amenagement-fourgons"
                            aria-expanded="false"
                            aria-controls="combien-coute-amenagement-fourgons"
                        >
                            MAIS COMBIEN COÛTE UN AMÉNAGEMENT POUR FOURGONS ?
                        </button>
                    </h2>
                </div>
                <div
                    id="combien-coute-amenagement-fourgons"
                    class="collapse"
                    aria-labelledby="245header"
                    data-parent="#accordion"
                    style=""
                >
                    <div class="card-body">
                        <p></p>
                        <p>On ne peut pas donner une réponse univoque. Chaque ameublement pour fourgons est différent, pour s’adapter au type de fourgon et aux exigences de chaque client. À titre indicatif on part de 200 - 300 euros pour un Panda Van ou modèle semblable, jusqu’à divers milliers d’euros pour les véhicules plus grands. Le service des ventes Syncro est à votre disposition pour un devis gratuit et sans engagement de votre part. Nous trouverons certainement la solution qui s’adapte le mieux à vos exigences et… à votre budget&nbsp;!</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="221header">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link collapsed"
                            style="text-decoration:none"
                            data-toggle="collapse"
                            data-target="#questce-systeme-syncro"
                            aria-expanded="false"
                            aria-controls="questce-systeme-syncro"
                        >
                            LE SYSTEME SYNCRO, C’EST QUOI ?
                        </button>
                    </h2>
                </div>
                <div
                    id="questce-systeme-syncro"
                    class="collapse"
                    aria-labelledby="221header"
                    data-parent="#accordion"
                >
                    <div class="card-body">
                        <p></p>
                        <p>Le système Syncro est un ensemble d’éléments comme les
                            <a href="https://www.syncro-system.fr/tiroirs-fourgons">blocs-tiroirs</a>,
                            <a href="https://www.syncro-system.fr/rayonnages">vasques</a>, conteneurs et autres articles et accessoires qui permettent de transformer votre fourgon en un atelier mobile efficace. Le système comprend également les protections internes comme les
                            <a href="https://www.syncro-system.fr/planchers-fourgons">planchers pour fourgons</a> et les
                            <a href="https://www.syncro-system.fr/revetements-internes">panneaux latéraux</a> pour fourgons qui servent à protéger votre véhicule utilitaire des chocs causés par le matériel transporté. À ceci s’ajoutent les
                            <a href="https://www.syncro-system.fr/rampes-chargement">rampes de chargement</a> et toute la gamme de
                            <a href="https://www.syncro-system.fr/porteechelle-grille-porteobjets">porte-échelles et galeries de toit</a> pour tous les modèles de véhicules utilitaires.
                        </p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="231header">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link collapsed"
                            style="text-decoration:none"
                            data-toggle="collapse"
                            data-target="#pourquoi-acheter-systeme-syncro"
                            aria-expanded="false"
                            aria-controls="pourquoi-acheter-systeme-syncro"
                        >
                            POURQUOI  ACHETER LE SYSTÈME SYNCRO ?
                        </button>
                    </h2>
                </div>
                <div
                    id="pourquoi-acheter-systeme-syncro"
                    class="collapse"
                    aria-labelledby="231header"
                    data-parent="#accordion"
                >
                    <div class="card-body">
                        <p></p>
                        <p>Si votre activité professionnelle se déroule à l’extérieur, le système Syncro vous permet d’organiser votre véhicule de façon efficace et ordonnée. Vous pourrez transporter une plus grande quantité d’équipements, outils, pièces de rechange et tout ce qui vous sert au travail. Votre matériel sera toujours bien rangé, et vous éviterez ainsi les pertes de temps pour trouver l’outil ou la pièce de rechange qui vous sert. Tous ceux qui travaillent en dehors de leur établissement ou magasin connaissent bien le temps perdu et l’argent gaspillé à la recherche de composants manquants qui souvent ont bien peu de valeur&nbsp;!</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>