<app-topbar></app-topbar>
<app-navbar></app-navbar>
<br>
<div class="col-md-12" style="padding:15px">
    <header class="stileTitolo" style="text-align: center;margin-bottom:3px">
        <h1>AVANTAGES</h1>
    </header>
</div>
<app-seperatingline></app-seperatingline>
<br>
<div class="container size col-md-12" style="padding-bottom:20px;padding-right: 8%;padding-left: 8%">
    <div class="row" style="border-bottom:1px solid #BBB;background-color:#EAEAEA;">
        <div class="col-md-6">
            <section>
                <section style="margin:0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/video-informations-actualisees-fourgon-amenagement-syncro-system">
                                    <img
                                        src="https://www.syncro-system.fr/api/img/--_20377.webp?width=150"
                                        class="borderedImage"
                                        alt=""
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/video-informations-actualisees-fourgon-amenagement-syncro-system" style="font-size:25px;">Données actualisées et informations utiles sur aménagement fourgon Syncro</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">Dans une vidéo toutes les données sur les ventes de fourgons en Italie et sur l’entreprise leader du secteur des aménagements Syncro System</div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
        
        <div class="col-md-6">
            <section>
                <section style="margin: 0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/presque-100-pour-cent-satisfaction-chez-client-syncro-system">
                                    <img
                                        src="	https://www.syncro-system.fr/api/img/--_20060.jpg?width=150"
                                        class="borderedImage"
                                        alt=""
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/presque-100-pour-cent-satisfaction-chez-client-syncro-system" style="font-size:25px;">Tous les clients Syncro System sont satisfaits du service</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">La satisfaction du client est une donnée objective: d’après une enquête menée par le Cerved, elle s’établit à 98%.</div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="border-bottom:1px solid #BBB;background-color:#FFF;">
        <div class="col-md-6">
            <section>
                <section style="margin:0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/amenagements-speciaux-fourgons-syncro-system">
                                    <img
                                        src="https://www.syncro-system.fr/api/img/--_18654.jpg?width=150"
                                        class="borderedImage"
                                        alt=""
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/amenagements-speciaux-fourgons-syncro-system" style="font-size:25px;">Aménagements spéciaux pour véhicules utilitaires</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">Chaque client a ses propres exigences et par conséquent, chaque aménagement Syncro se distingue d’un autre. Mais dans certains cas, les solutions sont si particulières qu’elles deviennent  spéciales.</div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <section style="margin: 0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/guide-46-points-amenagement-fourgons-2023">
                                    <img
                                        src="	https://www.syncro-system.fr/api/img/--_19967.webp?width=150"
                                        class="borderedImage"
                                        alt=""
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/guide-46-points-amenagement-fourgons-2023" style="font-size:25px;">Déchargez le guide en 46 points de l’aménagement pour fourgons (2022)</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">Les techniciens Syncro ont rédigé le
                                    <strong>grand guide de l’aménagement pour fourgons en 46 points</strong>
                                </div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
    </div>
    <br>
    <div class="clearfix"></div>
    <div class="row" style="border-bottom:1px solid #BBB;background-color:#EAEAEA;">
        <div class="col-md-6">
            <section>
                <section style="margin:0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/combien-pouvezvous-economiser-syncro">
                                    <img
                                        src="https://www.syncro-system.fr/api/img/--_18012.jpg?width=150"
                                        class="borderedImage"
                                        alt=""
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/combien-pouvezvous-economiser-syncro" style="font-size:25px;">11 façons de faire des économies avec l’aménagement pour fourgons Syncro</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">
                                    En calculant 30 minutes de gain de temps par jour, l’épargne moyenne d’un fourgon aménagé est supérieure à 3.300 Euro/An.
                                    <br>
                                    Avec les aménagements internes pour peintres, électriciens, plombiers, artisans et manutentionnaires Syncro il est possible de transporter une grande quantité de matériel, de façon sécurisée et ordonnée, en organisant le travail de façon efficace et confortable.
                                    <br>
                                    Arrêt minimum du véhicule : le temps nécessaire pour le montage des aménagements pour véhicules utilitaires ne dépasse jamais une journée, sauf cas particuliers.
                                    <br>Avec les
                                    <a href="https://www.syncro-system.fr/products">protections et les planchers</a> pour fourgons, votre véhicule est protégé et vous épargne des réparations coûteuses chez le carrossier pour les dommages causés par le matériel transporté.
                                </div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <section style="margin: 0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/cherchez-idees-amenager-fourgon">
                                    <img
                                        src="https://www.syncro-system.fr/api/img/--_18013.jpg?width=150"
                                        class="borderedImage"
                                        alt=""
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/cherchez-idees-amenager-fourgon" style="font-size:25px;">Un aménagement pour chaque type de travail</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">Chaque
                                    <strong>métier</strong> à des exigences différentes pour lesquelles Syncro System a créé des
                                    <strong>aménagements ad hoc: pour
                                        <a href="https://www.syncro-system.fr/amenagement-mesure-chaque-electricien">électriciens</a>, installateurs, plombiers, mais aussi pour les
                                        <a href="https://www.syncro-system.fr/amenager-fourgon-entreprise-nettoyage">entreprises de nettoyage</a>, les
                                        <a href="https://www.syncro-system.fr/amenagement-antennes-installations-tv">techniciens radio et tv</a>, les préposés au jardinage, les techniciens d’ascenseurs…
                                    </strong>En regardant les visuels des aménagements déjà réalisés pour VOTRE métier vous aurez une idée précise des solutions qui permettront d’organiser votre activité grâce à un aménagement approprié pour votre fourgon.
                                </div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="border-bottom:1px solid #BBB;background-color:#FFF;">
        <div class="col-md-6">
            <section>
                <section style="margin:0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/atelier-mobile-syncro-system-atelier-professionnel-itinerant">
                                    <img
                                        src="	https://www.syncro-system.fr/api/img/--_18014.jpg?width=150"
                                        class="borderedImage"
                                        alt=""
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/atelier-mobile-syncro-system-atelier-professionnel-itinerant" style="font-size:25px;">Devez vous aménager votre véhicule en atelier mobile?</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">
                                    Le fourgon aménagé pour les mécaniciens devient votre véritable Atelier Mobile Professionnel toujours à votre disposition !
                                    <br>
                                    Avec les aménagements pour véhicules utilitaires Syncro vous exploitez au mieux l’espace interne de votre véhicule en travaillant avec efficacité et en toute sécurité.
                                    <br>L'ameublement fourgons utilitaires pour les professionnels !
                                </div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <section style="margin: 0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/certification-uni-iso-9001-2008-certification-gs">
                                    <img
                                        src="https://www.syncro-system.fr/api/img/--_18015.jpg?width=150"
                                        class="borderedImage"
                                        alt=""
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/certification-uni-iso-9001-2008-certification-gs" style="font-size:25px;">Certifications Iso 9001 et gs</a>
                                </div>
                                
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">
                                    <br><br>
                                    La certification UNI EN ISO 9001 : 2015 prouve que le système qualité du groupe Syncro System est efficace et garantit un excellent niveau qualitatif, aussi bien en ce qui concerne les produits que les services fournis aux clients.
                                    <br>Les marques GS apposées sur les aménagements intérieurs et les galeries de toit prouvent que les produits Syncro destinés à l’aménagement des fourgons sont non seulement un bon investissement pour votre activité, mais également sûrs pour l’utilisateur : leur construction très solide empêche le détachement de parties potentiellement dangereuses, même en cas d'accident grave, et garantit un rangement sécurisé du matériel transporté.
                                </div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
    </div>
    <br>
    <div class="clearfix"></div>
    <div class="row" style="border-bottom:1px solid #BBB;background-color:#EAEAEA;">
        <div class="col-md-6">
            <section>
                <section style="margin:0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/qualite-absolue-production-amenagement-vehicules">
                                    <img
                                        src="https://www.syncro-system.fr/api/img/--_18016.jpg?width=150"
                                        class="borderedImage"
                                        alt=""
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/qualite-absolue-production-amenagement-vehicules" style="font-size:25px;">Qualité absolue dans la production de l'aménagement de vehicules</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">
                                    La plus grande technologie et qualité.
                                    <br>Le Groupe Syncro utilise des outillages de dernière technologie et une organisation au pas avec les temps pour fournir au client produit de tres haute qualité.
                                </div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <section style="margin: 0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/robustesse-legerete">
                                    <img
                                        src="https://www.syncro-system.fr/api/img/--_18319.webp?width=150"
                                        class="borderedImage"
                                        alt=""
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/robustesse-legerete" style="font-size:25px;">Vous désirez un ameublement pour fourgons à la fois robuste et léger?</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">Grâce à l'utilisation de matériaux légers et robustes comme le bois stratifié, l'aluminium, l'acier à haute résistance et à l'utilisation de techniques sophistiquées de production, les
                                    <a href="https://www.syncro-system.fr/rayonnages">rayonnages</a> pour fourgons, les
                                    <a href="https://www.syncro-system.fr/revetements-internes">habillages</a>
                                    pour fourgons et tous les produits Syncro sont résistants et leur poids est minimum.
                                    <br>Ne renoncez à rien : avec Syncro System vos
                                    <strong>équipements pour fourgons</strong> sont à la fois légers et robustes !
                                </div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="border-bottom:1px solid #BBB;background-color:#FFF;">
        <div class="col-md-6">
            <section>
                <section style="margin:0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/gamme-complete-systemes-arrimage-fourgons">
                                    <img
                                        src="	https://www.syncro-system.fr/api/img/--_18017.jpg?width=150"
                                        class="borderedImage"
                                        alt=""
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/gamme-complete-systemes-arrimage-fourgons" style="font-size:25px;">Une gamme complète de systèmes d’arrimage pour fourgons</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">
                                    Arrimer de façon appropriée le chargement à l’intérieur et à l’extérieur d’un véhicule utilitaire est une obligation sanctionnée par le Code de la Route, et c’est aussi une très bon moyen pour garantir l’ordre dans le fourgon et trouver tout ce qui nous est utile pour le travail quotidien.
                                    <br>
                                    Mais l’arrimage est avant tout fondamental pour garantir la sécurité du personnel qui utilise le véhicule et des autres usagers de la route.
                                    <br>Syncro System offre une gamme complète d’accessoires et de produits pour l’arrimage des marchandises, outils et matériels dans les fourgons.
                                </div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <section style="margin: 0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/systeme-chaque-vehicule-commercial">
                                    <img
                                        src="https://www.syncro-system.fr/api/img/--_18018.jpg?width=150"
                                        class="borderedImage"
                                        alt=""
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/systeme-chaque-vehicule-commercial" style="font-size:25px;">Un système pour l’aménagement de chaque véhicule utilitaire</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">Petit ou grand, nouveau ou employé, complet ou partiel : le système Syncro s'adapte à toutes les exigences!
                                    <a href="/amenagement-citan-mercedes">Citan</a>,
                                    <a href="/amenagement-sprinter-mercedes">Sprinter</a>,
                                    <a href="/amenagement-vito-mercedes">Vi</a>
                                </div>
                                <a href="/amenagement-vito-mercedes"></a>
                            </section>
                            <a href="/amenagement-vito-mercedes"></a>
                        </div>
                        <a href="/amenagement-vito-mercedes"></a>
                    </article>
                    <a href="/amenagement-vito-mercedes"></a>
                </section>
                <a href="/amenagement-vito-mercedes"></a>
            </section>
            <a href="/amenagement-vito-mercedes"></a>
        </div>
        <a href="/amenagement-vito-mercedes"></a>
    </div>
    <a href="/amenagement-vito-mercedes">
        <div class="clearfix"></div>
    </a>
    <br>
    <div class="row" style="border-bottom:1px solid #BBB;background-color:#EAEAEA;">
        <a href="/amenagement-vito-mercedes"></a>
        <div class="col-md-6">
            <a href="/amenagement-vito-mercedes"></a>
            <section>
                <a href="/amenagement-vito-mercedes"></a>
                <section style="margin:0px;">
                    <a href="/amenagement-vito-mercedes"></a>
                    <article style="margin:0px 5px 15px 5px;">
                        <a href="/amenagement-vito-mercedes"></a>
                        <div>
                            <a href="/amenagement-vito-mercedes"></a>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/amenagement-vito-mercedes"></a>
                                <a href="/espace-comparaisons-vehicule-commercial">
                                    <img
                                        src="https://www.syncro-system.fr/api/img/un-espace-san…s-dans-ton-vehicule-commercial_8229.jpg?width=150"
                                        class="borderedImage"
                                        alt="UN ESPACE SANS COMPARAISONS DANS TON VÉHICULE COMMERCIAL"
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/espace-comparaisons-vehicule-commercial" style="font-size:25px;">Fatigués de gaspiller de la place dans l’espace de chargement de votre véhicule?</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">
                                    Transporter les matériels et les équipements nécessaires et disposer de place supplémentaire pour charger l’espace de chargement de votre fourgon&nbsp;!
                                    <br>
                                    Avec le système Syncro vous pouvez exploiter au mieux l’espace de votre fourgon aménagé, qu’il soit petit ou grand.
                                    <br>Tout le système est conçu pour utiliser au mieux l’espace disponible: plus de capacité de charge, plus d’ordre et tout à portée de main !
                                </div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <section style="margin: 0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/gamme-tres-vaste-produits-lamenagement-fourgons">
                                    <img
                                        src="https://www.syncro-system.fr/api/img/une-gamme-tre…pour-lamenagement-de-fourgons_17429.jpg?width=150"
                                        class="borderedImage"
                                        alt="UNE GAMME TRES VASTE DE PRODUITS POUR L’AMENAGEMENT DE FOURGONS"
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/gamme-tres-vaste-produits-lamenagement-fourgons" style="font-size:25px;">Une très vaste gamme de produits pour l’ameublement de fourgons</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">La gamme des articles Syncro System pour la transformation de fourgons est très vaste:
                                    <a href="https://www.syncro-system.fr/tiroirs-pour-fourgons">tiroirs pour fourgons</a>, accessoires,
                                    <a href="https://www.syncro-system.fr/planchers-de-fourgons">planchers</a>, les
                                    <a href="https://www.syncro-system.fr/revetements-internes">habillages</a> pour tous les fourgons commercialisés,
                                    <a href="https://www.syncro-system.fr/porteechelle-et-grille-porteobjets">porte-échelles</a>, galeries de toit et barres porte-tout,  etc.Avec une gamme de produits aussi vaste, le client est certain de trouver ce qui lui sert, tandis que de nouveaux produits sont introduits en continuation.Tout le matériel Syncro System est en livraison 
                                    rapide auprès des
                                    <a href="https://www.syncro-system.fr/salepoints">centres d’aménagement</a>
                                </div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="border-bottom:1px solid #BBB;background-color:#FFF;">
        <div class="col-md-6">
            <section>
                <section style="margin:0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/comparaison-produits-traditionnels">
                                    <img
                                        src="	https://www.syncro-system.fr/api/img/comparaison-avec-des-produits-traditionnels_17443.jpg?width=150"
                                        class="borderedImage"
                                        alt="COMPARAISON AVEC DES PRODUITS TRADITIONNELS"
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/comparaison-produits-traditionnels" style="font-size:25px;">Comparaison avec les produits traditionnels</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">Les équipements pour fourgons Syncro sont tous spécialement conçus pour etre utilisés dans l’aménagement de fougons: ils offrent donc plus de capacité, un arrimage sécurisé et une longue durée.Un atelier mobile a des exigences différentes par rapport à  une officine et par conséquent, les produits Syncro sont beaucoup plus robustes, légers et spacieux que les produits traditionnels.</div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <section style="margin: 0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/plus-90000-clients-satisfaits">
                                    <img
                                        src="https://www.syncro-system.fr/api/img/plus-de-80000-clients-satisfaits_8224.jpg?width=150"
                                        class="borderedImage"
                                        alt="PLUS DE 80.000 CLIENTS SATISFAITS"
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/plus-90000-clients-satisfaits" style="font-size:25px;">Plus de 90.000 fourgons équipés livrés à autant de clients satisfaits</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">Avec 90.000 fourgons aménagés depuis 1996 le Groupe Syncro System a toute l’expérience qu’il faut pour trouver la meilleure réponse à vos exigences !Avec ses points de vente et les produits spécifiques pour l’aménagement de fourgons Syncro System offre à tous la solution sur mesure !</div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
    </div>
    <br>
    <div class="clearfix"></div>
    <div class="row" style="border-bottom:1px solid #BBB;background-color:#EAEAEA;">
        <div class="col-md-6">
            <section>
                <section style="margin:0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/crash-test-2">
                                    <img
                                        src="	https://www.syncro-system.fr/api/img/depassee-l-epreuve-du-crash-test_17438.JPG?width=150"
                                        class="borderedImage"
                                        alt="Dépassée l'épreuve du Crash Test."
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/crash-test-2" style="font-size:25px;">Crash Test pour le fourgon équipé Syncro Ultra</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">
                                    L'aménagement pour fourgons ateliers Syncro System a passé avec succès le Crash Test à 50 km ph.
                                    <br>
                                    L’essai a été effectué dans les laboratoires CSI de Bollate (MI)
                                    <br>
                                    Selon le rapport établi, le matériel s’est déformé sans créer de situations dangereuses pour les passagers dues au détachement de parties ou à cause de la déformation du matériel en soi. Même le chargement est resté arrimé de façon efficace, sans créer de situations dangereuses pour les passagers.
                                    <br>La qualité et la sécurité Syncro System ont été officiellement certifiées !
                                </div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <section style="margin: 0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/accident-serieux-fourgon-equipe">
                                    <img
                                        src="https://www.syncro-system.fr/api/img/un-accident-serieux-pour-le-fourgon-equipe_7762.jpg?width=150"
                                        class="borderedImage"
                                        alt="UN ACCIDENT SÉRIEUX POUR LE FOURGON ÉQUIPÉ"
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/accident-serieux-fourgon-equipe" style="font-size:25px;">Et s’il arrivait un gros accident à mon fourgon équipé?</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">
                                    Pendant la conduite il faut toujours rester prudents, mais en cas d’accident les aménagements Syncro peuvent certainement vous aider à limiter les dégâts en contribuant à votre sécurité !
                                    <br>
                                    Syncro System se consacre depuis toujours à la mise en sécurité de sa clientèle pour l’utilisation de ses produits.
                                    <br>Une démonstration pratique de la grande robustesse et sécurité du système Syncro est illustrée par les photos du Mercedes Vito qui a heurté un arbre à grande vitesse.
                                </div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="border-bottom:1px solid #BBB;background-color:#FFF;">
        <div class="col-md-6">
            <section>
                <section style="margin:0px;">
                    <article style="margin:0px 5px 15px 5px;">
                        <div>
                            <div style="float:left;text-align:center; padding:5px; padding-right:10px; padding-bottom:10px">
                                <a href="/possibilite-financement-materiel-amenagement-fourgon">
                                    <img
                                        src="https://www.syncro-system.fr/api/img/l-allestiment…urgoni-syncro-puo-essere-finan_7770.jpg?width=150"
                                        class="borderedImage"
                                        alt="L'allestimento per furgoni Syncro può essere finan"
                                        style="width:150px;"
                                    >
                                </a>
                            </div>
                            <header>
                                <div style="padding:10px">
                                    <a href="/possibilite-financement-materiel-amenagement-fourgon" style="font-size:25px;">Possibilité de financement du matériel pour aménagement fourgon</a>
                                </div>
                            </header>
                            <section class="advantageBoxTitle textJustified">
                                <div class="advantageBoxText" style="margin-top:10px;padding: 5px;">
                                    Le Groupe Syncro étudie des solutions sur mesure et même les prix de l’aménagement sont calibrés sur les exigences spécifiques du client.
                                    <br>
                                    Nous offrons diverses solutions pour faciliter l’achat du matériel pour votre fourgon aménagé.
                                    <br>Vous achetez votre nouveau véhicule commercial avec un financement, un prêt ou un leasing? L'aménagement peut être inclut sans problèmes dans l’achat du véhicule, ou bien nous pouvons vous proposer des délais de paiement intéressants.
                                </div>
                            </section>
                        </div>
                    </article>
                </section>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <section>
                    &nbsp;
                </section>
            </section>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<br>
<app-footer></app-footer>
