<div style="background-color: rgb(231, 231, 231);">
    <app-topbar></app-topbar>
    <app-navbar></app-navbar>
    <br>
    <br>
    <h1 class="page-title kk">
        <strong>Nos amenagements</strong>
    </h1>
    <app-seperatingline></app-seperatingline>
    <br>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/citroen">
                    <img src="../../../assets/images/amenagement/citroen-removebg-preview.png" alt="">
                </a>
            </div>
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/dacia">
                    <img src="../../../assets/images/amenagement/dacia-removebg-preview.png" alt="">
                </a>
            </div>
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/fiat"></a>
                <img src="../../../assets/images/amenagement/fiat-removebg-preview.png" alt="">
            </div>
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/ford"></a>
                <img src="../../../assets/images/amenagement/ford-removebg-preview.png" alt="">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/ford"></a>
                <img src="../../../assets/images/amenagement/hyundai-removebg-preview.png" alt="">
            </div>
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/ford">
                    <img src="../../../assets/images/amenagement/iveco-removebg-preview.png" alt="">
                </a>
            </div>
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/ford">
                    <img src="../../../assets/images/amenagement/land_rover-removebg-preview.png" alt="">
                </a>
            </div>
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/ford">
                    <img src="../../../assets/images/amenagement/man-removebg-preview.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/maxus">
                    <img src="../../../assets/images/amenagement/maxus-removebg-preview.png" alt="">
                </a>
            </div>
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/mercedes">
                    <img src="../../../assets/images/amenagement/mercedes-removebg-preview.png" alt="">
                </a>
            </div>
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/nissan">
                    <img src="../../../assets/images/amenagement/nissan-removebg-preview.png" alt="">
                </a>
            </div>
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/opel">
                    <img src="../../../assets/images/amenagement/opel-removebg-preview.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/peugeot"></a>
                <img src="../../../assets/images/amenagement/peugeot-removebg-preview.png" alt="">
            </div>
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/renault">
                    <img src="../../../assets/images/amenagement/renault-removebg-preview.png" alt="">
                </a>
            </div>
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/toyota">
                    <img src="../../../assets/images/amenagement/toyota-removebg-preview.png" alt="">
                </a>
            </div>
            <div class="col-md-3 image-container">
                <a href="https://www.syncro-system.fr/ss/volkswagen">
                    <img src="../../../assets/images/amenagement/volkswagen-removebg-preview.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <app-footer></app-footer>
</div>
